<section>


    <div class="company">
        <h1>©</h1> <h2 style="color: rgba(255, 255, 255, 0.623);">2025</h2> <h2>RENTCAR</h2>
    </div>


    <div class="socials">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
</section>