



.carsDiv{
    width: 85%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    row-gap: 20px;
    padding-top: 15px;
    background-color: #010A13;
    padding-bottom: 25px;
    min-height: 100vh;
}


.filterDiv{
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #010A13;
}


.carAndFilter{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}


.filterDiv form{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin-top: 30px;
    font-family: 'Orbitron', sans-serif;
}
.filterDiv input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 5px;
}
.filterDiv label{
    color: white;
    margin-top: 4px;
    font-size: 13px;
}
.buttonsDivvv{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.buttonsDivvv button{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}
@media (max-width: 600px) {
  .carAndFilter{
    flex-direction: column;
  }
  .filterDiv{
    width: 100% ;
  }
  .carsDiv{
    width: 100%;
  } 
  .filterDiv form{
    width: 90%;
    margin-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
  }
  .filterDiv input{
    width: 90%;
  }
  .buttonsDivvv{
    width: 80%;
    justify-self: center;
    grid-column: 1 / -1;
  }

}