<div class="registerMain">

    <div class="photoDiv"><h1>Register</h1></div>

    <div class="register">

        <h2>Register</h2>

        <form class="formRegister" action="">

        <label for="firstname">first name:</label>
        <input placeholder="first name" type="text" name="firstName">

        <label for="lastName">last name:</label>
        <input placeholder="last name" name="lastName" type="text">

        <label for="email">email:</label>
        <input placeholder="email" name="email" type="email">

        <label for="phoneNumber">phone number:</label>
        <input placeholder="number" name="phoneNumber" type="number">

        <label for="password">password</label>
        <input placeholder="password" name="password" type="password">


        <div class="buttonDiv">
        <button type="submit">Register</button>
        </div>

        <p>already have an account? Click here</p>
       
    
    
    </form>
    </div>

</div>